{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
  Papers
{% endblock title %}

{% block content %}
<br>
    <div class="container">
        <div class="col-md-12">
            <h1>
              Year 2020
            </h1> 
            <hr>
            <ul>
                <li>
                    <a href="http://midas.iiitd.edu.in/papers/paper/User-Input-Based-Style-Transfer-While-Retaining-Facial-Attributes.html" class="links">
                        Sharan Pai, Nikhil Sachdeva, Rajiv Ratn Shah, Roger Zimmermann, User Input Based Style Transfer While Retaining Facial Attributes IEEE BigMM :68 (2020)
                    </a>
                </li>
                <li>
                    <a href="http://midas.iiitd.edu.in/papers/paper/Text2FaceGAN_-Face-Generation-from-Fine-Grained-Textual-Descriptions.html" class="links">
                        Osaid Rehman Nasir, Shailesh Kumar Jha, Manraj Singh Grover, Yi Yu, Ajit Kumar, Rajiv Ratn Shah, Text2FaceGAN: Face Generation from Fine Grained Textual Descriptions IEEE BigMM :58 (2020)
                    </a>
                </li>
                <li>
                    <a href="http://midas.iiitd.edu.in/papers/paper/Supervised-Generative-Adversarial-Cross-modal-Hashing-by-Transferring-Pairwise-Similarities-for-Venue-Discovery/html" class="links">
                        Himanshu Aggarwal, Rajiv Ratn Shah, Suhua Tang, Feida Zhu, Supervised Generative Adversarial Cross-modal Hashing by Transferring Pairwise Similarities for Venue Discovery. IEEE BigMM :321 (2020)
                    </a>
                </li>
                <li>
                    <a href="http://midas.iiitd.edu.in/papers/paper/Are-you-paying-attention_-Detecting-Distracted-Driving-in-Real-time/html" class="links">
                        Maitree Leekha, Mononito Goswami, Yifang Yin, Rajiv Ratn Shah, Roger Zimmermann, Are you paying attention? Detecting Distracted Driving in Real-time. IEEE BigMM :171 (2020)
                    </a>
                </li>
                <li>
                    <a href="http://midas.iiitd.edu.in/papers/paper/Transfer-Learning-for-Detecting-Hateful-Sentiments-in-Code-Switched-Language.html" class="links">
                        Kshitij Rajput, Raghav Kapoor, Puneet Mathur, Hitkul, Ponnurangam Kumaraguru, and Rajiv Ratn Shah, Transfer Learning for Detecting Hateful Sentiments in Code Switched Language Springer (2020)
                    </a>
                </li>
                <li>
                    <a href="http://midas.iiitd.edu.in/papers/paper/Multilingual-Sentiment-Analysis.html" class="links">
                        Hitesh Nankani, Hritwik Dutta, Harsh Shrivastava, Rama Krishna P V N S, Debanjan Mahata, and Rajiv Ratn Shah, Multilingual Sentiment Analysis Springer (2020)
                    </a>
                </li>
                <li>
                    <a href="http://midas.iiitd.edu.in/papers/paper/Deep-Learning-Approaches-for-Speech-Emotion-Recognition.html" class="links">
                        Anjali Bhavan, Mohit Sharma, Mehak Piplani, Pankaj Chauhan, Hitkul, and Rajiv Ratn Shah, Deep Learning Approaches for Speech Emotion Recognition Springer (2020)
                    </a>
                </li>
                <li>
                    <a href="http://midas.iiitd.edu.in/papers/paper/Aspect-Based-Sentiment-Analysis-of-Financial-Headlines-and-Microblogs.html" class="links">
                        Hitkul, Simra Shahid, Shivangi Singhal, Debanjan Mahata, Ponnurangam Kumaraguru, and Rajiv Ratn Shah, Aspect Based Sentiment Analysis of Financial Headlines and Microblogs Springer (2020)
                    </a>
                </li>
                <li>
                    <a href="http://midas.iiitd.edu.in/papers/paper/Harnessing-GANs-for-Zero-shot-Learning-of-New-Classes-in-Visual-Speech-Recognition/html" class="links">
                        Yaman Kumar, Dhruva Sahrawat, Shubham Maheshwari, Debanjan Mahata, Amanda Stent, Yifang Yin, Rajiv Ratn Shah, Roger Zimmermann, Harnessing GANs for Zero-shot Learning of New Classes in Visual Speech Recognition. AAAI (2020)
                    </a>
                </li>
            </ul>
             
            
            
            
            
            
            
            
            

        </div>
    </div>

{% endblock content %}