{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
  Login
{% endblock title %}

{% block content %}

  <div class="container mt-5 col-md-4">
    <h3 class="form-signing">Login</h3>

    
    <form action="" method="post">
        {% csrf_token %}
    
        {{form|crispy}}
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
        <a href="{% url 'password_reset' %}">Forgot Your Password?</a>
    </form>
    <br>
    Don't have an account. <a href="{% url 'register' %}">Sign Up</a> instead.
    
</div>
{% endblock content %}