{% extends 'base.html' %}
{% load static %}
{% block title %}
  Login
{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
        
            <img src="{% static 'users/images/images.png'%}" alt="">
            <br>
            <h3>{{user.username}}</h3>
            <br>
            <h3>{{user.email}}</h3> 
            <br>
            <a href="{% url 'home' %}">Go to Home Page</a>
            <br>
            <a href="{% url 'password_change' %}">Change Your Current Password</a>
            
    {% else %}
    <h2>You should sign in to view this page</h2>
    {% endif %}
{% endblock content %}